* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 2.4rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.main {
  display: flex;
  gap: 1rem;
}
