* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 4.2rem;
  width: 75%;
  margin: 3.6rem 16.4rem;
}

.sidebar {
  width: 40%;
}

.btn {
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 4px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  color: rgb(248, 226, 219);
  background-color: darkorange;
  border: none;
}

.btn:hover {
  background-color: rgb(252, 150, 24);
  color: aliceblue;
}

.btn-add,
.btn-split {
  float: right;
  margin-top: 12px;
}

.friends-container {
  padding: 12px 16px;
  background-color: rgb(250, 240, 227);
}

.friendList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 8px;
}

.friendList:hover {
  background-color: rgb(248, 226, 219);
}

.friendList img {
  border-radius: 50%;
}

.bill-form,
.addForm {
  background-color: rgb(248, 226, 219);
  padding: 12px;
  border-radius: 5px;
}

.addForm {
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
}

.bill-form {
  padding: 12px;
}

.form-title {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 1.2rem;
}

.fields input,
.fields select {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.fields input {
  text-align: center;
}

.fields input:focus,
.fields select {
  outline: none;
}

.red {
  color: rgb(250, 83, 83);
}

.even {
  color: rgb(51, 50, 50);
}

.green {
  color: rgb(4, 152, 4);
}
